{{template "header"}}

<title>{{.Topic.Title}}-我的个人博客</title>
<link rel="stylesheet" href="/static/css/form.css" type="text/css">
</head>
<body>

{{ template  "navbar" . }}
<div class="container">
    <h1>{{.Topic.Title}}
        <a href="/topic/modify?tid={{.Topic.Id}}">
            <button class="btn btn-default">修改文章</button>
        </a>
        <a href="/topic/delete?tid={{.Topic.Id}}">
            <button class="btn btn-default">删除文章</button>
        </a>
    </h1>
    <h6 class="text-muted">文章发表于 {{.Topic.Created }} ,共有 {{.Topic.Views }} 次浏览， {{.Topic.ReplyCount}} 个评论</h6>
{{.Topic.Content}}
</div>

<!-- Latest compiled and minified JS -->
<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>